.login-form-container{
    background-color: rgba(0, 0, 0, 0.112);
    height: 500px;
    width: 500px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
h2{
    flex:1;
    margin-top: 10px;
}
form{
    flex:3;
  
}

.password-field, .email-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}